* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: #fdfdfd;
  color: #333;
  margin: 0;
}

header {
  background: #004d40;
  color: white;
  text-align: center;
}
main {
  padding: 1em;
}



           /* ----------Listas------------*/
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 1em 0;
}
a {
  background: white;
  padding: 1em;
  display: block;
  border-radius: 8px;
  text-decoration: none;
  color: #004d40;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}





           /* ----------Cifra------------*/
pre {
  background: #f7f9fc;
  border: 1px solid #d0d7de;
  padding: 1.5em;
  border-radius: 12px;
  white-space: pre-wrap;
  font-family: 'Courier New', monospace;
  font-size: 1.05em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  padding-bottom: 4em;
}





           /* ----------Notas------------*/

.nota {
  color: #4f46e5;
  font-weight: bold;
}




           /* ----------Search------------*/

.search-container {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
}

#search {
  width: 90%;
  max-width: 500px;
  padding: 0.8em 1em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 999px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

#search:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

input#search {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  margin-bottom: 1em;
  border: 2px solid #004d40;
  border-radius: 8px;
  box-sizing: border-box;
}


            /* ----------Scroll------------*/

#scroll-float {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  background: white;
  border-radius: 1em;
  padding: 0.8em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 999;
}

#scroll-btn {
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background 0.3s ease;
}

#scroll-btn:hover {
  background: #3730a3;
}

#speed {
  width: 100px;
}

